.app {
  background-color:#6C6EA0;
  /* background-color: oldlace; */
  text-align: left;
  color: #fff;
}

.note{
  background-color: palegoldenrod;
  border-bottom-right-radius: 20%;
  width: 700px;
  /* height: 250px; */
  margin: 10px 5px;
  padding: 5px;
}