.app {
  background-color:rgb(49, 50, 42);
  text-align: left;
  color: #fff;
}
.notes, .note{
  background-color: palegoldenrod;
  margin: 10px 5px;
  padding: 5px;
}
.note{
  border-bottom-right-radius: 10%;
  width: 600px;
  
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.notes{
  width: 400px;

}
.logo, .about{
  color: rgb(255, 246, 204);
}
.logo{
  font-size: 3rem;
  margin: 0 15px;
}
.about{
font-size: 1.3rem;
}
.about-div{
  margin: 10px;
}
header{
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
}